.hero__img__container{
    background-image: url("../images/backgroundImg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat";
}
.social__media__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40vh;
    background-color: #fffcfc;
    padding: 1rem 1rem 1rem 0rem;
}
.social__media__links{
    padding: 0.5rem;
    padding-left: 20px;
    font-size: 1.5rem;
    color: rgb(41, 41, 41);
}
.social__media__links:hover{
    color: var(--purple);
}
.hero__content__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero__content__container h2{
    margin-top: 20vh;
    font-weight: 600;
    font-size: 5rem;
    margin-bottom: 5px;
}
.hero__content__container p{
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 3rem;
}
@keyframes moveButton {
    from {transform: translateY(0);}
    to {transform: translateY(-2px);}
}

@media(min-width: 320px) and (max-width: 1024px) {
    .social__media__container{
        display: none;
    }
    .hero__content__container h2 {
        margin-top: 15vh;
        font-size: 2.1rem;
        margin-bottom: 20px;
    }
    .hero__img__container{
        height: 95vh;
    }
    .hero__content__container p{
    font-size: 1rem;
    line-height: 30px;
    }
    .hero__content__container span,
    .hero__content__container br{
        display: none;
    }
}

@media(min-width: 600px) and (max-width: 1280px) {
    .hero__content__container h2 {
        text-align: center;
        margin-top: 0vh;
        font-weight: 600;
        font-size: 4.2rem;
        margin-bottom: 15px;
    }

    .hero__img__container {
        height: 95vh;
    }

    .social__media__container {
        display: none;
    }

    .hero__content__container p {
        font-size: 1.1rem;
        line-height: 32px;
    }

    .hero__content__container span {
        display: inline;
    }
}
