html{
    scroll-behavior: smooth;
}
section{
    scroll-margin-top: 5rem;
}
*{
    margin: 0px;
    padding: 0px;
}
.btn{
    background-color: var(--purple);
    border: var(--purple);
    border-radius: 0.3rem;
    width: 15vw;
    padding: 1rem;
    font-size: 1.1rem;
    font-weight: 700;
    color: #fffcfc;
    transition: transform 1s ease-in-out;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.btn:hover {
    animation-name: moveButton;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}


@keyframes moveButton {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-2px);
    }
}
@media(min-width: 320px) and (max-width: 1024px) {
    .btn{
        width: 10rem;
        font-size: 1rem;
    }
    section{
    scroll-margin-top: 3rem;
    }
}
@media(min-width: 600px) and (max-width: 1280px) {
    .btn {
        width: 10rem;
        padding: 1.3rem;
        font-size: 1.2rem;
    }

    section {
        scroll-margin-top: 3rem;
    }
}

