:root{
    --purple: #7843E9;
}
*{
    font-family: "Padauk", sans-serif;
    font-weight: 600;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 10px 10px 10px 10px;
    width: 100vw;
    z-index: 3;
    font-size: 1.1rem;
    background-color: #fff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}
.navbar__subcontainer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar__subcontainer h3{
    font-size: 1.35rem;
    margin-left: 20px;
}
.navbar__img{
    margin-left: 2.6rem;
    border: 1px solid var(--purple);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}
.navbar__links_subcontainers {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.navbar__items {
    float: left;
}
.last{
    margin-right: 4.6rem;
}
.navbar__items a{
    display: block;
    color: black;
    text-align: center;
    padding: 25px;
    text-decoration: none;
}
.navbar__items a:hover{
    color: var(--purple);
}

.hamburger__menu{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color:  black;
}
.bar:hover{
    background-color: var(--purple);
}

/* hamburger menu*/
@media(max-width:768px){
    .navbar {
        justify-content: space-between;
        padding-right: 3rem;
        padding: 20px;
    }
    .navbar__img {
        display: none;
    }
    .navbar__subcontainer h3{
        font-size: 1.25rem;
        margin-left: 0px;
        margin-top: 5px;
    }
    .hamburger__menu{
        display: block;
        margin-right: 3rem;
        margin-top: 0.5rem;
    }
    .hamburger__menu.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger__menu.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger__menu.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .navbar__links_subcontainers{
        position: fixed;
        background-color: #ffffff;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
        left: -100%;
        top: 79px;
        gap: 0;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .navbar__items{
        margin: 0px;
        float: none;
        border-bottom: 0.5px solid lightgray;
    }
    .navbar__links_subcontainers.active{
        left: 0;
    }
}
@media(max-width: 1024px) {
    .last {
        margin-right: 2rem;
    }
}